<!-- <footer>
	<p>&copy; WiFive | D.S, D.K, M.L, I.W, D.W</p>
</footer> -->

<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="logo">
					<img src="../../assets/img/company2T.png" alt="no logo available">
				</span>
            </div>

            <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>Menu</span>
                    <li><a href="#">Home</a></li>
                    <li><a href="../why">Warum BIM</a></li>
                    <li><a href="../courses">Kurse</a></li>
                </ul>
            </div> -->
            <!-- Alternatives Menü zu WiFive Menu -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>
                    <li><a target="_blank" href="#">WiFive</a></li>
                    </span>

                    <li><a target="_blank" href="#">Denis Schuele</a></li>
                    <li><a target="_blank" href="https://www.codefactory.academy/dominic-klenk/">Dominic Klenk</a></li>
                    <li><a target="_blank" href="#">Dominic Wieser</a></li>
                    <li><a target="_blank" href="#">Matthias Liszt</a></li>
                    <li><a target="_blank" href="http://codefactory.academy/schahnaz-is-westenberger/index.html">S. Isabel Westenberger</a></li>
                    <!-- Links zu jeweiligem Portfolio (CodeFactory Academy) -->
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="address">
                    <span>Contact</span>
                    <!-- <li><i class="fa fa-copyright" aria-hidden="true"></i> <a href="#">WiFive | D.S, D.K, M.L, I.W, D.W</a></li> -->

                    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="#">+43 123 456</a></li>

                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Straße x, 1010 Wien</a></li>

                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">ex@mp.le</a></li>
                </ul>
            </div>


        </div>
    </div>
</footer>