<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="logo">
                    <img src="../../assets/img/company2T.png" alt="no logo available">
                </span>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="menu">
                    <span>WiFive</span>
                    <li><a target="_blank" href="#">Denis Schuele</a></li>
                    <li><a target="_blank" href="https://www.codefactory.academy/dominic-klenk">Dominic Klenk</a></li>
                    <li><a target="_blank" href="#">Dominic Wieser</a></li>
                    <li><a target="_blank" href="#">Matthias Liszt</a></li>
                    <li><a target="_blank" href="http://codefactory.academy/schahnaz-is-westenberger/index.html"> Isabel Westenberger</a></li>
                    <!-- Links zu jeweiligem Portfolio (CodeFactory Academy) -->
                </ul>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="address">
                    <span>Contact</span>

                    <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="#">+43 123 456</a></li>

                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#">Straße x, 1010 Wien</a></li>

                    <li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:ex@mp.le">ex@mp.le</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid blue">
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <p class="white text-center">&copy; <a href="#">WiFive</a></p>
        </div>
    </div>
    </div>
</div>