
<div class="container why text-justify">

        <h2>Why BIM-Factory</h2>
      <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>Durch ein gemeinsam mit Praktikern entwickeltes, strukturiertes und stark geblocktes
                Trainingsprogramm, dessen Schwerpunkt auf der Anwendung des Gelernten
                besteht, wird die BIM Factory Konstrukteur_innen in einem 6-wöchigen VollzeitTrainingsprogramm
                mit anschließenden 2-wöchigen Praktikum ausbilden.
                Modernste Lernunterstützung durch eine elektronische Lernplattform, Lernvideos und
                Fallbeispielen ermöglichen es den Teilnehmer_innen, nach ihrem individuellen
                Geschwindigkeiten zu lernen. Durch die angewandte Methode des
                anwendungsorientierten Gruppenlernens nach der Twinning-Methode erarbeiten
                die Teilnehmer_innen ein persönliches Portfolio, das sie später im
                </p>
          </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div>         
            <img class="chartImg"src="https://image.ibb.co/fWsgHo/chart.png" alt="">
            <p class="text-center"><strong>Bedarfsanalyse</strong> </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>         
                <img class="chartImg"src="https://thumbs.dreamstime.com/b/success-flow-chart-25032787.jpg" alt="">
                <p class="text-center"><strong>Bedarfsanalyse</strong> </p>
            </div>
          </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p>
                Bewerbungsprozess herzeigen können. Durch das begleitete Praktikum stellen die
                Personen ihre Kenntnisse unter Beweis, verfestigen sie und wenden das Gelernte in
                der Alltagspraxis an. Dadurch wird ein maximaler Lerntransfer gewährleistet und die
                Wahrscheinlichkeit der Aufnahme durch suchende Unternehmen deutlich gesteigert.
                Vorkenntnisse in der Konstruktion sind nicht notwendig, die Teilnehmer_innen
                müssen allerdings räumliches Vorstellungsvermögen, grundlegende
                Computerkenntnisse (zumindest ECDL Niveau) sowie den Wunsch zum Lernen
                mitbringen.</p>
          </div>
        
      </div>

</div>