<div class="container">
  <div class="row">
      <div class="col-lg-12">
        <h1 class="team-heading">Zusammen Stark</h1>
        <div class="row">
          <div class="col-lg-12">
            <div class="jumbotron">
            
            </div>
          </div>
        </div>
          
          <h2 class="team-subHeading">Wir machen das unmögliche möglich</h2>
          <p class="team-text">Wer dieser Tage das Wort Teambuilding googelt, kommt auf rund 16 Millionen Treffer. Viele davon wollen Rat geben. So wird empfohlen, die Mitarbeiter in den Klettergarten zu schicken oder auf ein Segelschiff. Andere kreisen um Begriffe wie Seminar und Workshop. Coachin Silvia Maute legt dem Teambuilding zunächst einmal "drei große V" zugrunde, nämlich Vertrauen, Verantwortung und Veränderung. Was das konkret heißt? "Nehmen sie die einzelnen Worte ruhig einmal auseinander", sagt Maute, "denn Sprache benutzen heißt, sich mental zu programmieren."</p>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure class="snip0028">
                    <img src="https://images.unsplash.com/photo-1521572267360-ee0c2909d518?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6de094989d0cf912f189ad8b7322d6d2&auto=format&fit=crop&w=1534&q=80" alt="sample7"/>
                    <figcaption>
                        <div>
                            <a href="#"><p>Gemeinsam Stark</p></a>
                        </div>
                        <h2>Ludwig Harrich</h2>  
                    </figcaption>           
                </figure>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <figure class="snip0028">
                    <img src="https://images.unsplash.com/photo-1504703395950-b89145a5425b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d702cb99ca804bffcfa8820c46483264&auto=format&fit=crop&w=351&q=80" alt="sample9"/>
                    <figcaption>
                        <div>
                            <a href="#"><p>Wir schaffen es!</p></a>
                        </div>
                        <h2>Frida Fohlenweide</h2> 
                    </figcaption>           
                </figure>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <figure class="snip0028">
                      <img src="https://www.bme.cornell.edu/engineering/customcf/iws_ai_faculty_display/ai_images/caa238-profile.jpg" alt="sample9"/>
                      <figcaption>
                          <div>
                              <a href="#"><p>Vertrauen Sie uns</p></a>
                          </div>
                          <h2>Rüdiger Nelson</h2> 
                      </figcaption>           
                  </figure>
                </div>


          </div>
          
          
          
        </div>
  </div>
</div>