<div class="container-fluid">
    <div class="row card col-lg-12 mx-auto">
        <h3>Kursbuchung</h3>
        <div class="alert alert-success" role="alert">
            <p class="h5">Kurs ID: {{courseId}}</p>
            <p class="h5">Username: {{username}}</p>
            <p class="h5">Preis: {{price}}</p>
        </div>
        <!-- connected to the "Kurs buchen"-button -->

        

            <div class="form-group">
                <label for="exampleFormControlInput1">Vorname</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fritz" #name>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Nachname</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mustermann" #surname>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Adresse</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Musterstraße 1, 1234 Musterhausen" #address>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Anmerkung</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" #comment></textarea>
            </div>


            <div class="form-group">
                <label>
          <input type="checkbox" name="agb" value="agbCheck" id="check1"> Die angezeigten Daten und Eingaben habe ich sorgfältig überprüft und beauftrage Sie, mit der Durchführung einer verbindlichen Buchung.</label>
            </div>

            
               <button class="inputBtn" (click)="bookIt([name.value],[surname.value],[address.value],[comment.value])">buchen</button> 
               <a routerLink="/interface" class="inputBtn a-c" ><i class="fab fa-telegram-plane"></i>&ensp;Kurs kostenpflichtig buchen</a>
               
            
        
    </div>
</div>