/************************************
	BOOKING CSS
*************************************/

.card {
    padding: 20px;
}

.form-control {
    width: 20em;
}

.alert {
    width: 20em;
}

.a-c {
	text-align: center;
	margin-top: 20px;
}

