
<div>
    <h3>Course Booking</h3>
    <p>Course Id: {{ii}}</p>
    <p>Username: {{username}}</p>
 
    
</div ><!-- connected to the "Kurs buchen"-button -->


<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Vorname</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Fritz">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Nachname</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Mustermann">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Adresse</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Entenhausen">
  </div>


  <div class="form-group">
    <label for="exampleFormControlTextarea1">Anmerkung</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button>submit</button>
</form>