<app-navbar></app-navbar>
<app-hero></app-hero>
	<div class="container-fluid">
	<app-blog></app-blog>
		<div class="container">
			<app-companies></app-companies>			
			<ul *ngFor="let items of items" class="list-unstyled">
				<div class="blog">
					<li class="">{{items.Date}}</li>
					<li>{{items.content}}</li>
					<li><em>{{items.author}}</em></li>
					<li ><span class="categoryBlog">{{items.category}}</span></li>
					<li class="line"><hr></li>
				</div>
			</ul>
		</div>
	</div>
<app-footer></app-footer>