<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="companies">
			<!-- TODO - Image -->
			<img src="../assets/img/company1.PNG" alt="company1" class="mx-auto d-block img-fluid">
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="companies">
			<!-- TODO - Image -->
			<img src="../assets/img/company2.PNG" alt="company2" class="mx-auto d-block img-fluid">
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="companies">
			<!-- TODO - Image -->
			<img src="../assets/img/company3.PNG" alt="company3" class="mx-auto d-block img-fluid">
		</div>
	</div>
</div>
