/************************************
    HERO COMPONENT
*************************************/

.bg {
	background: url('https://i.imgur.com/aybkt3j.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 500px;
}