<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card" *ngFor="let courses of courses;  let ii = index;">
                <h2>{{courses.courseName}}</h2>
                <img class="mx-auto d-block img-fluid" src="{{courses.picture}}" alt="pic">

                <table class="table">
                    <tbody>
                        <tr>
                            <th><b>Info</b></th>
                            <td class="text-left">{{courses.about}}</td>
                        </tr>
                        <tr>
                            <th><b>Beginn</b></th>
                            <td class="text-left">{{courses.start}}</td>
                        </tr>
                        <tr>
                            <th><b>Fundament</b></th>
                            <td class="text-left">{{courses.requirements}}</td>
                        </tr>
                        <tr>
                            <th><b>Dauer</b></th>
                            <td class="text-left">{{courses.duration}} Wochen</td>
                        </tr>
                        <tr>
                            <th><b>Zukunft</b></th>
                            <td class="text-left">{{courses.jobProspects}}</td>
                        </tr>
                        <tr>
                            <th><b>Kosten</b></th>
                            <td class="text-left">{{courses.price}} &euro; inkl. USt.</td>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <!-- DISPLAYED WHILE NOT LOGGED IN -->
                            <td><a routerLink="/login" *ngIf="!login" class="inputBtn">Kurs buchen</a>
                                <!-- DISPLAYED WHILE LOGGED IN -->
                                <a routerLink="/booking" *ngIf="login" class="inputBtn" (click)="bookCourse([ii])">Kurs wirklich buchen</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>