<ul *ngFor="let courses of courses" class="list-unstyled">

    <div class="card">
        <h2>{{courses.courseName}}</h2>
        <img class="mx-auto d-block img-fluid" src="{{courses.picture}}" alt="pic">

        <table class="table">
            <tbody>
                <tr>
                    <th><b>Info</b></th>
                    <td>{{courses.about}}</td>
                </tr>
                <tr>
                    <th><b>Beginn</b></th>
                    <td>{{courses.start}}</td>
                </tr>
                <tr>
                    <th><b>Voraussetzungen</b></th>
                    <td>{{courses.requirements}}</td>
                </tr>
                <tr>
                    <th><b>Dauer</b></th>
                    <td>{{courses.duration}}</td>
                </tr>
                <tr>
                    <th><b>Jobaussichten</b></th>
                    <td>{{courses.jobProspects}}</td>
                </tr>
                <tr>
                    <th><b>Kosten</b></th>
                    <td>{{courses.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ul>