.categoryBlog{
    border: 1px solid #999;
    padding: 10px;
    margin-top: 15px;
    background-color: #2E74B5;
    color: #eee;
}
.blog{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 100%), url(https://images.unsplash.com/photo-1486927181919-3ac1fc3a8082?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e073e351e1acc46e05a1b6d748724bdd&auto=format&fit=crop&w=1400&q=60);

    border-bottom: 2px solid #999;
    padding: 55px;
}
.blogInnerContainer{
    margin-bottom: 10px;
}
.imgContainer{
    width: 120px;
    float: right;
    padding-left: 10px;
}

/* .categoryBlog:hover {
    color: #2E74B5;
    background-color: #eee; 
} */
.line{
    margin-top: 60px;
}

.align-middle1 {
    padding-top: 50px;
}

#login-data {
    display: none;
}